@model SeafoodApp.Models.ProcessingTicket
@{
	ViewData["Title"] = "Xóa phiếu chế biến";
}
<h2>@ViewData["Title"]</h2>
<h3>Bạn có chắc muốn xóa phiếu @Model.Code không?</h3>

<form asp-action="Delete">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Xóa</button>
	<a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
